<h4>Listado de usuarios</h4>
<!-- Script para averiguar qué estamos recibiendo de la API
<pre>{{users | json}}</pre>
-->

<!-- FILTRO DE BUSQUEDA -->
<div class="row">
  <div class="col-12">
    <p class="filter-name">Filtros</p>
  </div>
</div>

<form>
  <div class="row">
    <!-- nombre, apellido y rol-->
    <div class="form-group" class="col-4">
      <label for="name">Nombre</label>
      <br>
      <input class = "col-12" type="text" [(ngModel)]="nameFilter" name="name" placeholder="Escriba parte del nombre..."/>
    </div>
    
    <div class="form-group" class="col-4">
      <label for="surname">Apellidos</label>
      <br>
      <input class = "col-12" type="text" [(ngModel)]="surnameFilter" name="surname" placeholder="Escriba parte del apellido..."/>
    </div>

    <div class="form-group" class="col-4">
      <label for="role">Rol</label>
      <select class = "col-4" name="role" [(ngModel)]="roleFilter" class="form-control">
        <option value="ADMINISTRADOR">Administrador</option>
        <option value="CONTRIBUTOR">Contributor</option>
        </select>
      </div>
      <br>

      <!-- BOTON DE FILTRADO -->
    <div class="col-12">
      <button type="button" id="btnSearch" class="btn btn-secondary" (click)="searchByFilter()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
        </svg>
        Filtrar</button>
    <!--BOTÓN PARA RESETEAR EL FILTRO-->

      <button type="button" id="btnReset" class="btn btn-secondary" (click)="resetFilter()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
          <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
        </svg>
        Resetear filtro</button>
    </div>
  </div>
</form>

  <!-- BOTÓN CREAR USUARIO-->
  <div class="d-flex new-button">
    <button class="btn btn-primary ml-3" [routerLink]="['/users','new']">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-person-add"
        viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
      </svg>
      Crear nuevo usuario
    </button>
  </div>

  <!--TABLA DE USUARIOS-->
<table class="table table-striped" *ngIf="users.length>0"> <!-- directiva para indicar que si no recibimos usuarios, no se muestre la tabla-->
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button id="btn-edit"class="btn btn-success" [routerLink]="['/users',user.id]">
          Editar
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
        </button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" (click)="prepareItemToDelete(user.id!)">
          Eliminar
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!--En caso de que no encuentre usuarios, mostramos un mensaje-->
<div *ngIf="users.length==0">
  <p class="text-center warning">No se han encontrado usuarios con los criterios de búsqueda</p>
</div>

<!-- PAGINACIÓN DE USUARIOS -->

<div class="botoneraPaginacion">
  <button [disabled]="first" class="btn btn-secondary btnAtras" (click)="previousPage()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
    </svg>
    Anterior
  </button>
  <span>Pagina {{(page+1)}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
  <button [disabled]="last" class="btn btn-secondary btnSiguiente" (click)="nextPage()">
    Siguiente
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
    </svg></button>
</div>
  
<!-- MODAL -->
<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BORRAR USUARIO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- obtenemos el nombre del usuario a borrar-->
        ¿Seguro que quieres borrar al usuario seleccionado?
        <br><br>
        <p class="warning">¡ATENCIÓN!
          <br/>
          Esta acción no se puede deshacer</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUser();">Eliminar</button>
    </div>
  </div>
</div>