h4 {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
}

thead {
    text-align: center;
}

tbody {
    vertical-align: middle;
    text-align: center;
}

.botoneraPaginacion {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.warning {
    font-weight: bold;
    font-size: 20px;
}

.modal-body {
    text-align:center;
}

.filter-name {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#btnSearch {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-secondary {
    margin-left: 20px;
    margin-right: 20px;
}

.new-button{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn-edit {
    margin-right: 5px;
}

form button {
    margin-left: 0;
    margin-right: 10px;
}

th:hover {
    cursor: pointer;
}

.container {
    background-color: #33333324;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 20px;
}