<h4>CRUD COMPLETO ANGULAR + JAVA SPRING BOOT</h4>

<div class="col-12">
    <p class="col-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, blanditiis. Nam et culpa repudiandae dolorem! Consectetur recusandae molestias corporis unde facilis porro odio quasi? Dolore fuga dicta at cupiditate nulla!</p>
    <p class="col-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, blanditiis. Nam et culpa repudiandae dolorem! Consectetur recusandae molestias corporis unde facilis porro odio quasi? Dolore fuga dicta at cupiditate nulla!</p>
</div>
<div class="col-6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore at expedita asperiores nihil nemo minus similique magnam, eligendi perspiciatis, molestiae itaque ullam blanditiis aut nam ipsa unde iusto quae. Illum?</div>